@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

*,
*::after,
*::before {
  direction: rtl;
}

body {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.4);
}
